header{
    background-color: rgb(245, 120, 37);
    padding: 25px;
    margin-top: 0%;
}

.navbar-light .navbar-nav .nav-link{
    color:rgba(255, 255, 255, 0.55)
}

.btn{
    background-color: rgb(245, 120, 37);
    display:inline-flexbox;
    border-color: white;
     li{
            display: inline-block;
        }
}    li{
            display: inline-block;
        }