@import "navbar"; 
@import "generales";
@import "media";
@import "componentes";



$ancho:250px;

.h1{
    display: grid;
    grid-template-columns: 50px;
}

.Airzoom1{
    width:$ancho/2;
    height: 150px;
}

.card{
    border: 2px;
    background-color: orange;
}

.card{
    @extend .card
}

@mixin sizes ($width, $height){ 
width: $width;
height: $height;    
}

.container{
    @include sizes(500px,250px )
}
